.navtwo{
    color: #153280;
    font-size: large;
    font-weight: bold;
}
.logo{
    position: absolute;
    left:50%;
    transform : translateX(-50%);
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
