.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  color: black;
  background-color: transparent;
  border: 1px solid black;
}
.reviews__pill{
  border-radius: 20px;
}
.reviews__header__content h2{
  color: #153280;
}
.reviews__new__btn{
  padding: 10px;
}
.reviews__content, .reviews__form {
  margin-top: 20px;
}
.reviews__filter__two .fa-star{
  color: yellow;
} 
.review{
  min-height: 200px;
  box-shadow: 4px 8px 8px whitesmoke;
  padding: 10px;
  margin: 5px;
} 