 .discussion_tips{
     background-color: #153280;
     border-radius: 10px ;
     padding: 5px;
 }
 .discussion_tips h3{
    color: yellow;
 }  
 .discussion__que{
     padding: 10px;
     background-color: white;
     box-shadow: 4px 4px 8px rgb(208, 209, 209);
     margin: 10px;
 }
 .discussion__que__title{
     font-weight: bold;
 }
 .discussion__que__meta{
     margin-top: 20px;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }