.settings {
  padding: 1%;
  background-color: rgb(230, 227, 227);
  height: calc(100vh - 125px);
  display: grid;
  place-items: center;
}

.settings__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 30px;
}

.settings__row {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings__button {
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

.settings__avatar {
  margin-left: auto;
  margin-right: auto;
  width: 100px !important;
  height: 100px !important;
  cursor: pointer;
}
