.signup {
  margin-top: 50px;
  min-height: 60vh;
}
.signup_input {
  margin-top: 20px;
}
.manual_signup {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}
.manual_signup input,
.signup_btn {
  border-radius: 10px;
  margin-bottom: 10px;
}
.manual_signup label {
  color: #153280;
}
.signup_text {
  padding: 5%;
  background-color: #153280;
  color: white;
  min-height: 60vh;
}
.signup_text a {
  color: white;
  text-decoration: underline;
}
.signup_text h1 {
  font-size: 30px;
}

@media(max-width:650px){
  .signup{
    margin-top: 0;
  }
  .signup_text{
    min-height: 0;
    background-color: white;
    color:#153280;
    text-align: center;
  }
  .signup_text a {
    color: #153280;
    text-decoration: underline;
  }
  .signup_text h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .signup_text h4{
    font-size: 12px;
  }
  .manual_signup{
    width: 90%;
  }
}