.signup{
    width: 80%;
    border: 1px solid black;
    margin: auto; 
    display: flex;
    margin-top: 20px;
    font-weight: bold;
}

.signup_sec1{
    width: 45%;
    background-color: rgb(146, 66, 93);
    padding-top: 30px;
    padding-left: 80px;
    min-height: 350px; 
    color: white;
}

.signup_sec1 a{
    color: white;
}

.signup_sec1 p{
    max-width: 350px;
    margin-top: 10px;
}

.signup_profile_choice{
   margin-left: 80px;
}

.signup_sec2{
    width: 45%;
    padding: 20px;
}

.signup_choice, .signup_form{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.signup_form input, label, .signup_btn{
    width: 75%; 
    margin: auto;
    border-radius: 10px;
    line-height: 30px;
    outline: none;
}

.signup_form .signup_btn{
    background-color: rgb(192, 192, 192);
}

.signup_sec2 a{
    position: relative;
    left: 33%;
    margin-top: 10px;
    color: slateblue;
    text-decoration: none;
}