.navone{
    background-color: rgb(44, 43, 43);
    line-height: 40px;
    padding: 10px;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}
.navone_content{
    display: flex;
}

.navone_links .link{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navone_links .link:hover{
    color: palevioletred;
}

.navone_search input[type=text]{ 
    line-height: 28px;
    outline: transparent;
}

.navone_button{
    background-color: palevioletred; 
    outline: transparent;
    width: 30px;
    border-radius: 0;
}

.navone_button i{
    color: white; 
}

.fa{
    color: palevioletred;
    margin: 8px;
}